#cashRegister {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

#display {
    width: 100%;
    height: 80px;
    text-align: right;
    font-family: 'Nova Mono', monospace;
    font-size: 60px;
}

.keys {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 5;
}

#equals {
    grid-column: 1 / 6; 
}

button {
  font-size: 30px;
}

/* 
.wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 200px;
    grid-gap: 20px;
    position: relative;
  }
  .box3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    position: absolute;
    top: 40px;
    left: 40px;
  }

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-template-columns: auto auto auto auto auto;
    background-color: cornflowerblue;
    width: 75%;
    position: center;
}

.display {
    grid-column: 1 / 6;
}

.equals {
    grid-column: 1 / 6;
}


  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  .register {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
  }
  
  .display {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
  }
  
  button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    text-shadow: 0 1px rgba(255,255,255,.4);
  }
  
  button:hover {
    background-color: #eaeaea;
  }
  
  .operator {
    color: #337cac;
  }
  
  .clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
  }
  
  .clear:hover {
    background-color: #f17377;
  }
  
  .equals {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
  }
  
  .equals:hover {
    background-color: #4e9ed4;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
  } */